<section class="thirteen columns">
    <h1>Courses and Events</h1>
    <p>
        To view all certificates, visit <a
            href="https://github.com/RafasTavares/My-certificates"><strong>HERE</strong></a>, my repository. &lt;= 2019
    </p>
    <h1>2019</h1>
    <article>
        <header>
            <h1>Learning React Native</h1>
            <span>LinkedIn</span>
        </header>
        <p>Updating knowledge about React Native.</p>
    </article>
    <br />
    <article>
        <header>
            <h1>Learning Data Science: Tell Stories With Data</h1>
            <span>LinkedIn</span>
        </header>
        <p>Acquiring knowledge to contribute to my master's dissertation.</p>
    </article>
    <br />
    <article>
        <header>
            <h1>Learning Google Flutter for Mobile Developers</h1>
            <span>LinkedIn</span>
        </header>
        <p>Starting studies in Flutter.</p>
    </article>
</section>
