<section class="thirteen columns">
    <h1>Initiatives and Volunteer Projects</h1>
    <article>
        <header>
            <h1>Microsoft Student Partner - MSP</h1>
            <span>
                <address>Aracaju, SE.</address><time>2014 - 2015</time>
            </span>
        </header>
        <p>
            Organized Microsoft events in the state, such as S2B and MSTECHDAY.
            Conducted training sessions on C#, ASP.NET MVC, and development for Windows and Windows Phone.
        </p>
    </article>
    <article>
        <header>
            <h1>Digital Inclusion for the Elderly (University Extension Project)</h1>
            <span>
                <address>Aracaju, SE.</address><time>Jun 2014 - Dec 2014</time>
            </span>
        </header>
        <p>
            Taught weekly classes on computer usage, digital tools, and social networks for seniors.
        </p>
    </article>
    <article>
        <header>
            <h1>Day of Free Enterprise (University Extension Project)</h1>
            <span>
                <address>Aracaju, SE.</address><time>2013, 2014, and 2015 Editions</time>
            </span>
        </header>
        <p>
            University extension project dedicated to connecting the university with the community, offering basic computer literacy workshops.
        </p>
    </article>
    <article>
        <header>
            <h1>Mozilla Brazil Volunteer</h1>
            <span>
                <address>Brazil</address><time>2012 - 2016</time>
            </span>
        </header>
        <p>
            Contributed to the development and promotion of Firefox OS, Webmaker, and Sumo, providing support for Firefox
            at events and within the community.
        </p>
    </article>
</section>
