<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Back-end Development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C#, .NET Core, .NET MVC, Kotlin, Python, UML.</em>
        </p>
    </article>
    <br />
    <article>
        <header>
            <h1>Cloud, Infrastructure &amp; Databases</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>AWS, Azure, Docker, Grafana, Kibana, SQL Server, PostgreSQL, Oracle.</em>
        </p>
    </article>
    <br />
    <article>
        <header>
            <h1>Front-end &amp; Collaboration Tools</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML, CSS, JavaScript, Angular, React, Git.</em>
        </p>
    </article>
    <br />
    <article>
        <header>
            <h1>AI Engineering &amp; Generative AI</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Generative AI, Agent/LLM Harness Engineering, RAG, LangGraph, Model Context Protocol (MCP), Prompt Engineering, Claude/Anthropic APIs, StackSpot, Data Analysis and Visualization.</em>
        </p>
    </article>
    <br />
    <article>
        <header>
            <h1>Management &amp; Leadership</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Tech Leadership, Agile (Scrum, Kanban), BPM, People Management, Mentoring, Stakeholder Management.</em>
        </p>
    </article>
</section>
