<section class="thirteen columns">
<h1>Resumo</h1>
<p>
 Atualmente sou <strong>Coordenador de TI</strong> na Empresa Serveloja, atuo principalmente na organigação da equipe como líder técnico e Scrum Master,
  além de auxiliar o desenvomvimento e análise. Desenvolvendo também projetos freelancer em <b>Fluter</b> com api em <b>.net Core 3</b>.0 .
 <br/> Anteriormente atuava como desenvolvedor <b>Full Stack</b> na NT Consult de POA - RS, trabalhando parcialmente remoto de Aracaju - SE. 
  Onde desenvolvia em <b>.net core</b> com banco de dados <b>Oracle</b> e <b>mongoDB</b>, já no front utilizamos em <b>Angular 8</b> adotando padrões de <b>Clean Code</b>, <b>TDD</b>, entre outros.
<br/>
Graduado em Sistemas para Internet pela UNIT (Universidade Tiradentes) e mestrando em Ciência da Computação na UFBA (Universidade Federal da Bahia), tenho como foco de pesquisa Análise e Visualização de Dados. 
<br/>
Possuo conhecimentos em técnicas de Engenharia de Software como modelagem de sistemas, especificação de requisitos, modelos de gerenciamento de projetos, desenvolvimento web/mobile com Xamarin e .net MVC, Cordova, Angular (ionic), React, .net Core, entre outras. 
<br/>
Durante a graduação fui voluntário na Mozilla atuando com oficinas do Webmaker, organização de eventos e desenvolvimento para Firefox. Também fui MSP (Microsoft Student Partner) contribuindo principalmente com organização de eventos e ministrando cursos como o S2B (Students for Business).
 </p>
</section>
