<section class="thirteen columns">
<h1>Resumo</h1>
<p>
Atualmente sou Desenvolvedor Full Stack, fundei a Harpia TI e trabalho terceirizado com consultoria em análise e desenvolvimento de sistemas. Também sou contratado como Analista de Sistemas na Simplificauto, do grupo Avonale.
<br/>
Graduado em Sistemas para Internet pela UNIT (Universidade Tiradentes) e mestrando em Ciência da Computação na UFBA (Universidade Federal da Bahia), tenho como foco de pesquisa Análise e Visualização de Dados.
<br/>
Possuo conhecimentos em técnicas da engenharia de software como modelagem de processos, especificação e modelos de gerenciamento de projetos, desenvolvimento web/mobile com Xamarin e .net MVC, Cordova, Angular (ionic), React, .net Core, entre outras.
<br/>
Durante a graduação fui voluntário na Mozilla atuando com oficinas do Webmaker, organização de eventos e desenvolvimento para Firefox. Também fui MSP (Microsoft Student Partner) contribuindo principalmente com organização de eventos e ministrando cursos como o S2B (Students for Business). 
</p>
</section>
