<!-- <section class="thirteen columns">
    <h1>Cursos e Eventos</h1>
    <p>
    Para visualizar todos os certificados acesse <a href="https://github.com/RafasTavares/My-certificates"><strong>AQUI</strong></a> meu repositório. <= 2019
    </p>
    <h1>2019</h1>
    <article>
            <header>
                <h1>Learning React Native</h1>
                <span> Linkedin </span>
            </header>
            <p> Atualizando os conhecimentos sobre React Native. </p>
    </article>
    <br/>
    <article>
            <header>
                <h1>Learning Data Science: Tell Stories With Data</h1>
                <span> Linkedin </span>
            </header>
            <p> Buscando conhecimento para contribuição da minha dissertação de mestrado. </p>
    </article>
    <br/>
    <article>
    <header>
        <h1>Learning Google Flutter for Mobile Developers</h1>
        <span> Linkedin </span>
    </header>
    <p> Iniciando estudos em Flutter </p>
    </article>
 <!--   <hr>
            
    <h1>2018</h1>
    
    <article>      
    <header>
        <h1>Learning Google Flutter for Mobile Developers</h1>
        <span> Linkedin </span>
    </header>
    <p>  </p>
    </article>
    <br/>

    
    <article>      
        <header>
            <h1>
Cert Prep: Certified Scrum Master</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>
<article>      
    <header>
        <h1>
Scrum: Advanced</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
UX Research for Agile Teams</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Agile Development Practices</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Creating Projects for Interactive Data Visualization with Processing</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>
<article>      
    <header>
        <h1>

Data Science Foundations: Data Engineering</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Data Visualization in R with ggplot2</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Designing a Data Visualization</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Designing a Presentation</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Fundamentos de Gestão Ágil de Projetos</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Learning Data Visualization</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Learning React Native</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Microsoft Azure for Developers</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
R: Interactive Visualizations with htmlwidgets</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Visual Communication for Business: The Marketer's Secret Weapon</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Android App Development: Design Patterns for Mobile Architecture</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Become a Data Scientist</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
C#: Design Patterns</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>
<article>      
    <header>
        <h1>
CSS: Advanced Layouts with Grid</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Data Science & Analytics Career Paths & Certifications: First Steps</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Data Science Foundations: Data Mining</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Data Science Foundations: Fundamentals</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Data Visualization: Best Practices</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>
<article>      
    <header>
        <h1>
Data Visualization: Storytelling</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Excel 2010: Real-World Projects</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Excel 2016: Managing and Analyzing Data</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Fundamentos da Melhoria de Processos</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Google Data Studio First Look</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
HTML for Educators</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Learning Data Governance</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Planning a Microsoft Cloud Solution (2016)</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Processing: Interactive Data Visualization</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>
<article>      
    <header>
        <h1>

Ruby Essential Training</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>

<article>      
    <header>
        <h1>
Statistics Foundations: 1</h1>
<span> Linkedin </span>
</header>
<p>  </p>
</article>
<br/>
    </section> -->
<section class="thirteen columns">
    <h1>Courses and Events</h1>
    <p>
        To view all certificates, visit <a
            href="https://github.com/RafasTavares/My-certificates"><strong>HERE</strong></a>, my repository. <= 2019
            </p>
            <h1>2019</h1>
            <article>
                <header>
                    <h1>Learning React Native</h1>
                    <span>LinkedIn</span>
                </header>
                <p>Updating knowledge about React Native.</p>
            </article>
            <br />
            <article>
                <header>
                    <h1>Learning Data Science: Tell Stories With Data</h1>
                    <span>LinkedIn</span>
                </header>
                <p>Acquiring knowledge to contribute to my master's dissertation.</p>
            </article>
            <br />
            <article>
                <header>
                    <h1>Learning Google Flutter for Mobile Developers</h1>
                    <span>LinkedIn</span>
                </header>
                <p>Starting studies in Flutter.</p>
            </article>
</section>