<section class="thirteen columns">
<h1>Cursos e Eventos</h1>
<p>
Para visualizar todos os certificados acesse <a href="">AQUI</a> meu repositório. <= 2019
</p>
<h1>2019</h1>
<article>
        <header>
            <h1>Learning React Native</h1>
            <span> Linkedin </span>
        </header>
        <p> Atualizando os conhecimentos sobre React Native. </p>
</article>
<!--<hr>
<h1>2018</h1>
<article>
        <header>
            <h1> ----------------- </h1>
            <span> ------ </span>
        </header>
        <p> ------------------------------------------------- </p>
</article>
<hr>
<h1>2017</h1>
<article>
        <header>
            <h1> ----------------- </h1>
            <span> ------ </span>
        </header>
        <p> ------------------------------------------------- </p>
</article>
<hr>
<h1>2016</h1>
<article>
        <header>
            <h1> ----------------- </h1>
            <span> ------ </span>
        </header>
        <p> ------------------------------------------------- </p>
</article>
<hr>
<h1>2015</h1>
<article>
        <header>
            <h1> ----------------- </h1>
            <span> ------ </span>
        </header>
        <p> ------------------------------------------------- </p>
</article>
<hr>
<h1>2014</h1>
<article>
        <header>
            <h1> ----------------- </h1>
            <span> ------ </span>
        </header>
        <p> ------------------------------------------------- </p>
</article>
<hr>
<h1>2013</h1>
<article>
        <header>
            <h1> ----------------- </h1>
            <span> ------ </span>
        </header>
        <p> ------------------------------------------------- </p>
</article-->
</section>




