<!-- <section class="thirteen columns">
    <h1>Educação</h1>
    <article>
        <header>
            <h1>Mestrando em Ciência da Computação</h1>
            <span>Universidade Federal da Bahia</span>
            <span><address>Salvador, BA. BR</address><time>2017 - Atual</time></span>
        </header>
        <p>
            <em>Pesquisa em Análise e Visualização de Dados.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Graduação em Sistemas para Internet</h1>
            <span>Universidade Tiradentes</span>
            <span><address>Aracaju, SE. BR</address><time>2012 - 2015</time></span>
        </header>
        <p>
            <em>Projeto de Conclusão de Cusro: Party Control, controle de entradas e comandas de eventos.</em>
        </p>
    </article>
</section> -->
<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master's in Computer Science</h1>
            <span>Federal University of Bahia</span>
            <span><address>Salvador, BA. BR</address><time>2017 - Present</time></span>
        </header>
        <p>
            <em>Research in Data Analysis and Visualization.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor's in Internet Systems</h1>
            <span>Universidade Tiradentes</span>
            <span><address>Aracaju, SE. BR</address><time>2012 - 2015</time></span>
        </header>
        <p>
            <em>Final Project: Party Control, management of event entries and commands.</em>
        </p>
    </article>
</section>