<!-- <section class="thirteen columns">
    <h1>Experiência</h1>
    
        <article>
  <header>
    <h1>Engenheiro de Software Sr.</h1>
    <span>
      <address>Aracaju, SE</address><time> OUT - 2020 até o momento</time>
    </span>
  </header>
  <p>
Iniciei como Desenvolvedor Sr. atuando em um projeto de Cobrança co cliente Recovery, depois tive a oportunidade de atuar como Desenvolvedor Back-end Sr. com .net core e Kotlin no Iti e nos ultimos 6 meses estou trabalhando com modernizações de projetos em Deprecation do Itau, atuando com Full Stack Angular 12 e .net Core 6 e cloud Full AWS.
  </p>
</article>
    
    <article>
  <header>
    <h1>Coordenador de TI - Serveloja</h1>
    <span>
      <address>Aracaju, SE</address><time> ABR - 2020 OUT 2020</time>
    </span>
  </header>
  <p>
      Atuo principalmente na organigação da equipe como líder técnico e Scrum Master, além de auxiliar o desenvomvimento e análise. Utilizamos C#, com aplicações em Web Forms e APIs utilizando Front em Angular e React, com DB SQL Services utilizamos a infra estrutura do Azure.
  </p>
</article>
    
        <article>
  <header>
    <h1>Desenvolvedor Full Stack - <a href="http://www.ntconsult.com.br/sitentc/home/">NT Consult</a></h1>
    <span>
      <address>Aracaju, SE - POA, RS</address><time> OUT - 2019 MAR 2020</time>
    </span>
  </header>
  <p>Trabalho parcialmente remoto em Aracaju - SE com desenvolvimento back-end, com .net core utilizando a arquitetura
    DDD e alguns conceitos de
    microservices, persistindo em um banco de dados Oracle. Já o no Front-end desenvolvo com Angular 8, e algumas
    bibliotecas como bootstrap.

  </p>
</article>
    <article>
        <header>
            <h1>Analista de Sistemas - Simplificauto</h1>
            <span>
                <address>Aracaju, SE</address><time> JAN - 2019 OUT - 2019</time>
            </span>
        </header>
        <p>Trabalhei com desenvolvimento back-end com .net core e front mobile com Flutter (Dart). Utilizamos a arquitetura DDD e alguns conceitos de
            microservices, persistindo em um banco de dados Postgres.
            Tudo publicado na Amazon e versionado com GIT(Flow). Além do Scrum no gerenciamento.</p>
    </article>
    <article>
        <header>
            <h1>Analista de Sistemas PJ - Connectlead</h1>
            <span>
                <address>Aracaju, SE</address><time> OUT - 2018 até JAN - 2019</time>
            </span>
        </header>
        <p>Trabalho com desenvolvimento back-end com .net core. Utilizamos a arquitetura DDD e alguns conceitos de
            microservices, persistindo em um banco de dados Postgres.
            Tudo publicado na Amazon e versionado com GIT(Flow). Além do scrum no gerenciamento.</p>
    </article>
    <article>
        <header>
            <h1>Engenheiro de Software II - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time>JUL 2016 até MAR 2017</time>
            </span>
        </header>
        <p>
            Nesta fase iniciamos a migração de parte do sistema para Angular 2 consumindo a API hospedada no Azure, desenvolvida em C#. Paralelamente, passei no mestrado em Salvador-BA e comecei a trabalhar parcialmente remoto.  \o/
        </p>
    </article>
    <article>
        <header>
            <h1>Engenheiro de Software I - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time>NOV 2015 até JUN 2016</time>
            </span>
        </header>
        <p>
            Nesta nova etapa da empresa, busquei atender algumas solicitações de clientes. Com isso fiz a proposta de
            desenvolver o App para Windows e Windows Phone.
            Com a proposta sendo aceita, desenvolvi nativamente com C#, utilizando o GitHub para versionar e o Trello
            (Kanban) para gerenciar minhas próprias tarefas.
            Posteriormente, voltando a migrar o Front-End do sistema Web (WebClient), desenvolvido com .net 4.5 com Web
            Forms, tronando-o parcialmente responsivo e com um layout padronizado, também aproveitamos para melhorar
            alguns códigos mais antigos :D
        </p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor Web III - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time>MAR 2015 até OUT 2015</time>
            </span>
        </header>
        <p>Desenvolvimento WEB com Web Forms e Sql Server.</p>
    </article>
    <article>
        <header>
            <h1>Estagiário Front-end - UNIT (Universidade Tiradentes).</h1>
            <span>
                <address>Aracaju, SE</address><time>DEZ 2014 até MAR 2015</time>
            </span>
        </header>
        <p>
            Estagiário na equipe de Web no Marketing da Universidade Tiradentes, desenvolvendo algumas funcionalidades
            com Php e outras com Ruby.
        </p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor I - SGN (Soluções em Gestão de Negócios).</h1>
            <span>
                <address>Aracaju, SE</address><time>2014 to 2015</time>
            </span>
        </header>
        <p>
            Participei da equipe localizada na SEAC, onde atuei na área de desenvolvimento WEB com C#, Web Forms e MVC3 utilizando o banco de dados Sql Server.
        </p>
    </article>
    <article>
        <header>
            <h1>Estagiário em Suporte de Infraestrutura - ITPS (Instituto de Tecnologias e Pesquisa do Estado de
                Sergipe).</h1>
            <span>
                <address>Aracaju, SE</address><time>2014 to 2015</time>
            </span>
        </header>
        <p>
            Experiência muito boa na área de suporte em infra-estrutura, afinal profissional de TI precisa ser um pouco
            de tudo!
        </p>
    </article>
</section> -->
<section class="thirteen columns">
    <h1>Experience</h1>
    
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <span>
                <address>Aracaju, SE</address><time> Oct 2020 - Present</time>
            </span>
        </header>
        <p>
            Started as a Senior Developer working on a Billing project for the Recovery client. Later, I had the opportunity to work as a Senior Back-end Developer with .NET Core and Kotlin on the Iti project. For the past six months, I have been working on modernization projects in the Itaú Deprecation initiative, acting as a Full Stack Developer with Angular 12, .NET Core 6, and full AWS cloud.
        </p>
    </article>
    
    <article>
        <header>
            <h1>IT Coordinator - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time> Apr 2020 - Oct 2020</time>
            </span>
        </header>
        <p>
            Acted primarily in team organization as a technical leader and Scrum Master, in addition to assisting in development and analysis. We used C# with Web Forms applications and APIs, utilizing Angular and React for the front-end, SQL Server for the database, and Azure for infrastructure.
        </p>
    </article>
    
    <article>
        <header>
            <h1>Full Stack Developer - <a href="http://www.ntconsult.com.br/sitentc/home/">NT Consult</a></h1>
            <span>
                <address>Aracaju, SE - Porto Alegre, RS</address><time> Oct 2019 - Mar 2020</time>
            </span>
        </header>
        <p>
            Worked partially remotely from Aracaju, SE, on back-end development with .NET Core using DDD architecture and some microservices concepts, persisting data in an Oracle database. On the front-end, I developed with Angular 8 and libraries like Bootstrap.
        </p>
    </article>
    
    <article>
        <header>
            <h1>Systems Analyst - Simplificauto</h1>
            <span>
                <address>Aracaju, SE</address><time> Jan 2019 - Oct 2019</time>
            </span>
        </header>
        <p>
            Worked on back-end development with .NET Core and mobile front-end with Flutter (Dart). We used DDD architecture and some microservices concepts, persisting data in a PostgreSQL database. Everything was deployed on AWS and versioned with Git (Flow). Scrum was used for project management.
        </p>
    </article>
    
    <article>
        <header>
            <h1>Systems Analyst (Contractor) - Connectlead</h1>
            <span>
                <address>Aracaju, SE</address><time> Oct 2018 - Jan 2019</time>
            </span>
        </header>
        <p>
            Worked on back-end development with .NET Core. We used DDD architecture and some microservices concepts, persisting data in a PostgreSQL database. Everything was deployed on AWS and versioned with Git (Flow). Scrum was used for project management.
        </p>
    </article>
    
    <article>
        <header>
            <h1>Software Engineer II - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time> Jul 2016 - Mar 2017</time>
            </span>
        </header>
        <p>
            During this phase, we started migrating part of the system to Angular 2, consuming the API hosted on Azure and developed in C#. At the same time, I was accepted into a Master's program in Salvador, BA, and began working partially remotely. \o/
        </p>
    </article>
    
    <article>
        <header>
            <h1>Software Engineer I - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time> Nov 2015 - Jun 2016</time>
            </span>
        </header>
        <p>
            In this new phase at the company, I worked on client requests, proposing and developing a Windows and Windows Phone app natively with C#. I used GitHub for versioning and Trello (Kanban) for task management. Later, I resumed migrating the Web system's front-end (WebClient), developed with .NET 4.5 and Web Forms, making it partially responsive and standardized in layout, while also improving older code.
        </p>
    </article>
    
    <article>
        <header>
            <h1>Web Developer III - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time> Mar 2015 - Oct 2015</time>
            </span>
        </header>
        <p>
            Web development with Web Forms and SQL Server.
        </p>
    </article>
    
    <article>
        <header>
            <h1>Front-end Intern - UNIT (Universidade Tiradentes)</h1>
            <span>
                <address>Aracaju, SE</address><time> Dec 2014 - Mar 2015</time>
            </span>
        </header>
        <p>
            Interned with the Web team in the Marketing department at Universidade Tiradentes, developing functionalities with PHP and Ruby.
        </p>
    </article>
    
    <article>
        <header>
            <h1>Developer I - SGN (Soluções em Gestão de Negócios)</h1>
            <span>
                <address>Aracaju, SE</address><time> 2014 - 2015</time>
            </span>
        </header>
        <p>
            Worked with the team located at SEAC, focusing on web development with C#, Web Forms, and MVC3, using SQL Server as the database.
        </p>
    </article>
    
    <article>
        <header>
            <h1>Infrastructure Support Intern - ITPS (Institute of Technology and Research of Sergipe)</h1>
            <span>
                <address>Aracaju, SE</address><time> 2014 - 2015</time>
            </span>
        </header>
        <p>
            Gained valuable experience in infrastructure support, as IT professionals need to be versatile!
        </p>
    </article>
</section>