<section class="thirteen columns">
    <h1>Experiência</h1>
    <article>
        <header>
            <h1>Analista de Sistemas - Simplificauto</h1>
            <span>
                <address>Aracaju, SE</address><time> JAN - 2019 até o momento</time>
            </span>
        </header>
        <p>Trabalho com desenvolvimento back-end, com .net core. Utilizamos a arquitetura DDD e alguns conceitos de
            microservices, persistindo em um banco de dados Postgres.
            Tudo publizado na Amazon e versionado com GIT. Além do scrum no gerenciamento.</p>
    </article>
    <article>
        <header>
            <h1>Analista de Sistemas PJ - Connectlead</h1>
            <span>
                <address>Aracaju, SE</address><time> OUT - 2018 até JAN - 2019</time>
            </span>
        </header>
        <p>Trabalho com desenvolvimento back-end, com .net core. Utilizamos a arquitetura DDD e alguns conceitos de
            microservices, persistindo em um banco de dados Postgres.
            Tudo publizado na Amazon e versionado com GIT. Além do scrum no gerenciamento.</p>
    </article>
    <article>
        <header>
            <h1>Engenheiro de Softare II - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time>2014 to 2015</time>
            </span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Engenheiro de Softare I - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time>2014 to 2015</time>
            </span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor Web III - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time>2014 to 2015</time>
            </span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Estagiário Front-end - UNIT (Universidade Tiradentes).</h1>
            <span>
                <address>Aracaju, SE</address><time>2014 to 2015</time>
            </span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor I - SGN (Soluções em GEstão de Negócios).</h1>
            <span>
                <address>Aracaju, SE</address><time>2014 to 2015</time>
            </span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Estagiário em Suporte de Infraestrutura - ITPS (Instituto de Tecnologias e Pesquisa do Estado de
                Sergipe).</h1>
            <span>
                <address>Aracaju, SE</address><time>2014 to 2015</time>
            </span>
        </header>
        <p></p>
    </article>
</section>