<section class="thirteen columns">
    <h1>Experiência</h1>
    <article>
        <header>
            <h1>Analista de Sistemas - Simplificauto</h1>
            <span>
                <address>Aracaju, SE</address><time> JAN - 2019 até o momento</time>
            </span>
        </header>
        <p>Trabalho com desenvolvimento back-end, com .net core. Utilizamos a arquitetura DDD e alguns conceitos de
            microservices, persistindo em um banco de dados Postgres.
            Tudo publicado na Amazon e versionado com GIT. Além do Scrum no gerenciamento.</p>
    </article>
    <article>
        <header>
            <h1>Analista de Sistemas PJ - Connectlead</h1>
            <span>
                <address>Aracaju, SE</address><time> OUT - 2018 até JAN - 2019</time>
            </span>
        </header>
        <p>Trabalho com desenvolvimento back-end com .net core. Utilizamos a arquitetura DDD e alguns conceitos de
            microservices, persistindo em um banco de dados Postgres.
            Tudo publicado na Amazon e versionado com GIT. Além do scrum no gerenciamento.</p>
    </article>
    <article>
        <header>
            <h1>Engenheiro de Software II - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time>JUL 2016 até MAR 2017</time>
            </span>
        </header>
        <p>
            Nesta fase iniciamos a migração de parte do sistema para Angular 2 consumindo a API hospedada no Azure,
            desenvolvida em C#.
            Paralelamente, passei no mestrado em Salvador-BA e comecei a trabalhar parcialmente remoto. \o/
        </p>
    </article>
    <article>
        <header>
            <h1>Engenheiro de Software I - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time>NOV 2015 até JUN 2016</time>
            </span>
        </header>
        <p>
            Nesta nova etapa da empresa, busquei atender algumas solicitações de clientes. Com isso fiz a proposta de
            desenvolver o App para Windows e Windows Phone.
            Com a proposta sendo aceita, desenvolvi nativamente com C#, utilizando o GitHub para versionar e o Trello
            (Kanban) para gerenciar minhas próprias tarefas.
            Posteriormente, voltando a migrar o Front-End do sistema Web (WebClient), desenvolvido com .net 4.5 com Web
            Forms, tronando-o parcialmente responsivo e com um layout padronizado, também aproveitamos para melhorar
            alguns códigos mais antigos :D
        </p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor Web III - Serveloja</h1>
            <span>
                <address>Aracaju, SE</address><time>MAR 2015 até OUT 2015</time>
            </span>
        </header>
        <p>Desenvolvimento WEB com Web Forms e Sql Server.</p>
    </article>
    <article>
        <header>
            <h1>Estagiário Front-nd - UNIT (Universidade Tiradentes).</h1>
            <span>
                <address>Aracaju, SE</address><time>DEZ 2014 até MAR 2015</time>
            </span>
        </header>
        <p>
            Estagiário na equipe de Web no Marketing da Universidade Tiradentes, desenvolvendo algumas funcionalidades
            com Php e outras com Ruby.
        </p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor I - SGN (Soluções em Gestão de Negócios).</h1>
            <span>
                <address>Aracaju, SE</address><time>2014 to 2015</time>
            </span>
        </header>
        <p>
            Participo da equipe localizada no CEAC onde atuei na área de desenvolvimento WEB com C#, Web Forms e Sql Server.
        </p>
    </article>
    <article>
        <header>
            <h1>Estagiário em Suporte de Infraestrutura - ITPS (Instituto de Tecnologias e Pesquisa do Estado de
                Sergipe).</h1>
            <span>
                <address>Aracaju, SE</address><time>2014 to 2015</time>
            </span>
        </header>
        <p>
            Experiência muito boa na área de suporte em infra-estrutura, afinal profissional de TI precisa ser um pouco
            de tudo!
        </p>
    </article>
</section>