<section class="thirteen columns">
    <h1>Iniciativas e Projetos Voluntários</h1>
    <article>
        <header>
            <h1>Microsoft Student Partner - MSP</h1>
            <span>
                <address>Aracaju, SE.</address><time>2014 - 2015</time>
            </span>
        </header>
        <p>
            Atuando a organização de eventos da Microsoft no estado, como o S2B e MSTECHDAY.
            Realizando treinamentos de C#, aspnet MVC e desenvolvimento para windows e Windows Phone.
        </p>
    </article>
    <article>
        <header>
            <h1>Inclusão digital para terceira idade.(Projeto de Extensão Universitária)</h1>
            <span>
                <address>Aracaju, SE.</address><time>JUN 2014 - DEZ 2014</time>
            </span>
        </header>
        <p>
            Realizando aulas semanais de treinamento de uso de computador, com ferramentas e Redes sociais.
        </p>
    </article>
    <article>
            <header>
                <h1>Dia da Livre Iniciativa. (Projeto de Extensão Universitária)</h1>
                <span>
                    <address>Aracaju, SE.</address><time>Edições de 2013, 2014 e 2015</time>
                </span>
            </header>
            <p>
                Projeto voltado na dedidação de um dia de auxílio da Universidade à Sociedade. Com oficinas para uso do Computador.
            </p>
        </article>
    <article>
        <header>
            <h1>Voluntário da Mozilla Brasil</h1>
            <span>
                <address>Brasil</address><time>2012 - 2016</time>
            </span>
        </header>
        <p>
            Contribuindo para desenvolvimento e divulgação do Firefox OS, Webmaker e Sumo, suporte para o Firefox em
            eventos e na própria comunidade.
        </p>
    </article>
</section>
