<!-- <section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <p><i class="fa fa-heart" title="Família"></i>&nbsp;
         <i class="fa fa-headphones" title="Música"></i>&nbsp;
         <i class="fa fa-life-ring" title="Praia"></i>&nbsp;&nbsp;
         <i class="fa fa-motorcycle" title="Moto"></i>&nbsp;
         <i class="fa fa-film" title="Filmes"></i></p>
    </article>
</section> -->
<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <p><i class="fa fa-heart" title="Family"></i>&nbsp;
         <i class="fa fa-headphones" title="Music"></i>&nbsp;
         <i class="fa fa-life-ring" title="Beach"></i>&nbsp;&nbsp;
         <i class="fa fa-motorcycle" title="Motorcycle"></i>&nbsp;
         <i class="fa fa-film" title="Movies"></i></p>
    </article>
</section>