<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Engenharia de Software e Desenvovlimento Web/Mobile</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C#, .net Core, .net MVC, ASP.NET e Xamarin.</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML</em>, <em>CSS</em>, <em>JS</em> &amp; <em>Angular/Ionic.</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>React/CSS3</em> &amp; <em>React</em>
        </p>
    </article>
</section>
