<section class="thirteen columns">
    <h1>Cursos e Eventos</h1>
    <p>
        Para visualizar todos os certificados, acesse <a
            href="https://github.com/RafasTavares/My-certificates"><strong>AQUI</strong></a> meu repositório. &lt;= 2019
    </p>
    <h1>2019</h1>
    <article>
        <header>
            <h1>Learning React Native</h1>
            <span>LinkedIn</span>
        </header>
        <p>Atualizando os conhecimentos sobre React Native.</p>
    </article>
    <br />
    <article>
        <header>
            <h1>Learning Data Science: Tell Stories With Data</h1>
            <span>LinkedIn</span>
        </header>
        <p>Buscando conhecimento para contribuir com a dissertação de mestrado.</p>
    </article>
    <br />
    <article>
        <header>
            <h1>Learning Google Flutter for Mobile Developers</h1>
            <span>LinkedIn</span>
        </header>
        <p>Iniciando estudos em Flutter.</p>
    </article>
</section>
