<section class="thirteen columns">
    <h1>Iniciativas e Projetos Voluntários</h1>
    <article>
        <header>
            <h1>Microsoft Student Partner - MSP</h1>
            <span>
                <address>Aracaju, SE.</address><time>2014 - 2015</time>
            </span>
        </header>
        <p>
            Organizei eventos da Microsoft no estado, como o S2B e o MSTECHDAY.
            Realizei treinamentos de C#, ASP.NET MVC e desenvolvimento para Windows e Windows Phone.
        </p>
    </article>
    <article>
        <header>
            <h1>Inclusão digital para terceira idade (Projeto de Extensão Universitária)</h1>
            <span>
                <address>Aracaju, SE.</address><time>Jun 2014 - Dez 2014</time>
            </span>
        </header>
        <p>
            Realizei aulas semanais de treinamento no uso de computador, ferramentas e redes sociais.
        </p>
    </article>
    <article>
        <header>
            <h1>Dia da Livre Iniciativa (Projeto de Extensão Universitária)</h1>
            <span>
                <address>Aracaju, SE.</address><time>Edições de 2013, 2014 e 2015</time>
            </span>
        </header>
        <p>
            Projeto dedicado ao auxílio da universidade à sociedade, com oficinas de uso do computador.
        </p>
    </article>
    <article>
        <header>
            <h1>Voluntário da Mozilla Brasil</h1>
            <span>
                <address>Brasil</address><time>2012 - 2016</time>
            </span>
        </header>
        <p>
            Contribuí para o desenvolvimento e a divulgação do Firefox OS, Webmaker e Sumo, com suporte ao Firefox
            em eventos e na comunidade.
        </p>
    </article>
</section>
