<section class="thirteen columns">
    <h1>Habilidades</h1>
    <article>
        <header>
            <h1>Engenharia de Software e Desenvolvimento Back-end</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C#, .NET Core, .NET MVC, Kotlin, Python.</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>AWS, Azure, Docker, Grafana, Kibana, SQL Server, PostgreSQL, Oracle.</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML, CSS, JS, Angular, React, Git, Scrum, Kanban, BPM.</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>IA generativa, StackSpot, UML, Análise e Visualização de Dados.</em>
        </p>
    </article>
</section>
