<section class="thirteen columns">
    <h1>Habilidades</h1>
    <article>
        <header>
            <h1>Desenvolvimento Back-end</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C#, .NET Core, .NET MVC, Kotlin, Python, UML.</em>
        </p>
    </article>
    <br />
    <article>
        <header>
            <h1>Cloud, Infraestrutura e Bancos de Dados</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>AWS, Azure, Docker, Grafana, Kibana, SQL Server, PostgreSQL, Oracle.</em>
        </p>
    </article>
    <br />
    <article>
        <header>
            <h1>Front-end e Ferramentas de Colaboração</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML, CSS, JavaScript, Angular, React, Git.</em>
        </p>
    </article>
    <br />
    <article>
        <header>
            <h1>Engenharia de IA e IA Generativa</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>IA Generativa, Harness Engineering para Agentes/LLMs, RAG, LangGraph, Model Context Protocol (MCP), Engenharia de Prompts, APIs Claude/Anthropic, StackSpot, Análise e Visualização de Dados.</em>
        </p>
    </article>
    <br />
    <article>
        <header>
            <h1>Gestão e Liderança</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Liderança Técnica, Ágil (Scrum, Kanban), BPM, Gestão de Pessoas, Mentoria, Gestão de Stakeholders.</em>
        </p>
    </article>
</section>
